:global {
    .login-wrap{
        width: 100%;
        position: relative;
        height: auto;
        min-height: 1100px;
        padding : 0;
        background: url('../../assets/login.jpg') no-repeat ;
        background-position: center;
        background-size: cover;
        .login-wrap-title{
            width: 100%;
            height: 105px;
            position: relative;
            top: 55px;
            margin-bottom: 40px;
        }
        .login {
            position: relative;
            top: 40px;
          .account-form{
              width: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              .ant-input{
                  width: 380px;
                  background-color: rgba(0,0,0,0.5);
                  border: 1px solid rgba(255,255,255,0.3);
                  color: #ffffff;
                  font-size: 14px;
              }
          }
        }
    }
}