:global{
    .views-wrap{
        display: flex;
        flex-wrap: wrap;
        .video-react-big-play-button{
            font-size: 1rem;
        }
        .ant-card-body {
            padding: 10px;
        }
        .card-wrap{
            .ant-card-meta-description{
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
                transition: all .3s linear;
                &:hover{
                    color: pink ;
                    height: 60px;
                    white-space: normal;
                    transition: all .3s linear;
                }
            }

        }
    }
}