:global{
    .container{
        .home-wrap{
            width: 100%;
            height: auto;
            min-height: 1200px;
            background: url("http://img-arch.pconline.com.cn/images/piclib/201006/24/batch/1/62707/1277366670376hbrxe1fj5j.jpg") no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
             .home-wrap-top-box{
                .home-wrap-top-box-title{
                    position: absolute;
                    top: 220px;
                    right: 50px;
                    h2{
                       color: #ffffff;
                       font-weight: 600;
                       font-size: 38px;
                    }
                }
                .home-wrap-top-box-hidden-content{
                    position: absolute;
                    top: 440px;
                    right: 180px;
                    color: salmon;
                    transition: all 0.5s linear;
                    p{
                        font-size: 28px;
                    }
                    div{
                        width: 220px;
                        height: auto;
                        word-wrap: normal;
                        font-size: 22px;
                    }
                }
             }
            }
            .home-wrap-middle-box{
                width: 100%;
                height: auto;
                min-height: 600px;
                background-color: #ffffff;
                padding: 0 120px;
                .home-wrap-middle-box-title-wrap{
                    width: 1200px;
                    max-width: 100%;
                    padding: 80px 0 0 0;
                    .home-wrap-middle-box-title-wrap-section{
                        .home-wrap-middle-box-title-wrap-center{
                            h2{
                                font-weight: 600;
                                margin-top: 20px;
                                font-size: 32px;
                                color: #72c02c;
                            }
                        }
                    }
                }
                @media only screen and (min-width: 960px){
                        .home-wrap-middle-box-title-img-box{
                            display: grid;
                            grid-template-columns: repeat(2, calc(50% - 10px));
                            grid-column-gap: 15px;
                            grid-row-gap: 20px;
                        }   
                }
                .home-wrap-middle-box-title-img-box{
                    display: grid;
                    grid-template-columns: repeat(3, calc(33.33% - 10px));
                    grid-column-gap: 15px;
                    grid-row-gap: 20px;
                    @media only screen and (max-width: 960px){
                            grid-template-columns: repeat(2, calc(50% - 10px));          
                    }
                    @media only screen and (max-width: 640px){
                        grid-template-columns: 100%;
                        grid-column-gap: 0px;
                    }
                    .home-wrap-middle-box-title-img-box-item{
                        padding: 10px;
                        position: relative;
                        background: #fff;
                        box-shadow: 1px 1px 10px #aaa;
                        header{
                            h4{
                                margin: 0;
                                font-size: 26px;
                                text-transform: capitalize;
                                min-height: 68px;
                            }
                        }
                        .home-wrap-middle-box-title-img-box-item-container{
                            img{
                                max-width: 90%;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        .home-wrap-middle-box-title-img-box-item-bottom-write{
                            margin-top: 30px;
                            text-align: center;
                        }
                    }
                }
            }
            .widget-area{
                margin-top: 50px;
                margin-bottom: 40px;
                padding: 0 120px;
                section{
                    border-bottom: 1px solid;
                  
                    center{
                        margin-bottom: 40px;
                    }
                }
                .widget-wrap{
                    margin-top: 30px;
                }
            }
            @media only screen and (max-width: 986px) {
               .community-contain{
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   .community-contain-left{
                    margin-right: 0px;
                }
               }
            }
            @media only screen and (max-width: 690px) {
                .community-contain{
                    display: none;
                    opacity: 0;
                }
             }
            .community-contain{
                width: 100%;
                height: 301px;
                padding: 0 120px;
                margin-top: 40px;
                display: flex;
                @media only screen and (max-width: 986px) {
                    margin-top: 300px;
             }
                .community-contain-left{
                    flex : 1;
                    margin-right: 50px;
                    padding: 0 40px;
                    box-sizing: border-box;
                    @media only screen and (max-width: 986px) {
                            margin-right: 0px;
                     }
                    .main-title{
                        display: flex;
                        align-items: center;
                        @media only screen and (max-width: 986px) {
                            justify-content: center;
                            align-items: center;
                        }
                      img{
                        display: block;
                        width: 13.5px;
                        height: 18.1px;
                        margin-right: 10px;
                      }
                      h2{
                          margin-top: 12px;
                      }
    
                    }
                    .main-content{
                        width: 100%;
                        position: relative;
                        height: 180px;
                        .main-content-list{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 99;
                            display: flex;
                            transition: all 0.5s ease-in;
                            .main-content-list-item-left-logo{
                                flex: 0 0 180px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    display: block;
                                    width: 100%;
                                    max-width: 90%;
                                    max-height: 70%;
                                    border-radius: 10px;
                                }
                            }
                            .main-content-list-item-right-write{
                                flex: 1;
                                margin-left: 30px ;
                                opacity: 0;
                                transition: all 0.5s ease-in;
                                .main-content-list-item-right-write-top{
                                    p{
                                        line-height: 80px;
                                        color: #292A2F;
                                    }
                                }
                                .main-content-list-item-right-write-bottom{
                                    color: #9C9FAE;
                                    width: 100%;
                                    height: 20%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow : ellipsis;
                                    font-size: 12px;
                                }
                                &.active{
                                    opacity: 1;
                                }
                            }
                            &.active{
                               z-index: 999;
                            }
                        }
                    }
                    .blogBottom{
                        margin-top: 15px;
                        @media only screen and (max-width: 986px) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                     }
                        .line{
                            margin-right: 15px;
                            display: inline-block;
                            width: 20%;
                        }
                        .blogTime{
                            margin-right: 15px;
                        }
                    }
                }
                .community-contain-right{
                    flex : 1;
                    .community-contain-right-container{
                        @media only screen and (max-width: 986px) {
                            margin:  120px 0 ;
                            
                         }
                        .main-title{
                            display: flex;
                            align-items: center;
                            img{
                                display: block;
                                width: 13.5px;
                                height: 18.1px;
                                margin-right: 10px;
                              }
                              h2{
                                  margin-top: 12px;
                              }
                        }
                    }
                }
            }     
         } 
}